<div class="film-details-container">
    <div class="film-details-container-image">
        <a href="#" class="thumbnail thumbnail-element">
            <img ng-src="{{selectedfilm.image}}" onerror="this.src='../images/films/_.png'" alt="">
        </a>
        <div class="film-details-container-infos">
            <div ng-controller="RatingDemoCtrl" class="film-details-container-infos-rating col-xs-offset-3 col-md-offset-3">
                <span uib-rating ng-model="selectedfilm.note" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"
                      on-leave="overStar = null" titles="['one','two','three','four','five']"
                      aria-labelledby="default-rating">
                </span>
                <span class="label" ng-class="{'label-success': value}" ng-show="overStar && !isReadonly">
                        {{value}}
                    </span>
            </div>
            <div class="film-details-container-infos-title col-xs-offset-5 col-md-offset-5">
                <span>{{selectedfilm.name}}</span>
            </div>
            <hr>
            <div class="film-details-container-infos-genre col-xs-offset-6 col-md-offset-6">
                <span>{{selectedfilm.genre}}</span>
            </div>
            <div class="film-details-container-infos-country col-xs-offset-6 col-md-offset-6">
                <span>{{selectedfilm.country}}</span>
            </div>
            <hr>
            <div class="film-details-container-infos-links col-xs-offset-6 col-md-offset-6">
                <table>
                    <tr><td><a href="">Link 1</a></td></tr>
                    <tr><td><a href="">Link 2</a></td></tr>
                    <tr><td><a href="">Link 3</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>