<div class="col-xs-6 col-lg-3">
    <h6>{{film.name}}</h6>
    <div ng-controller="RatingDemoCtrl">
        <span uib-rating ng-model="film.note" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"
              on-leave="overStar = null" titles="['one','two','three','four','five']"
              aria-labelledby="default-rating"></span>
        <span class="label"
              ng-class="{'label-success': value}" ng-show="overStar && !isReadonly">{{value}}</span>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a ui-sref="film({filmId: '{{film.id}}'})" class="thumbnail">
                <img ng-if="mode=='static'"
                     ng-src="../images/films/{{film.image}}" onerror="this.src='../images/films/_.png'" alt="">
                <img ng-if="mode=='dynamic'"
                     ng-src="{{film.image}}" onerror="this.src='../images/films/_.png'" alt="">
            </a>
        </div>
    </div>
</div>

